<h3> Adicionar um carro </h3>

<%= form_with model: @carro do |form| %>
    <%= form.text_field :marca, placeholder: "Marca" %>
    <%= form.text_field :modelo, placeholder: "Modelo" %>
    <%= form.text_field :ano, placeholder: "Ano" %>
    <%= form.text_field :descricao, placeholder: "Descriçao" %>
    <%= form.text_field :valor, placeholder: "Valor" %>
    <%= form.submit %>

    <% end %>

<!-- <%= form_for @carro do |form| %>
    <%= form.text_field :marca, placeholder: "Marca" %>
    <%= form.text_field :modelo, placeholder: "Modelo" %>
    <%= form.text_field :ano, placeholder: "Ano" %>
    <%= form.text_field :descricao, placeholder: "Descriçao" %>
    <%= form.text_field :valor, placeholder: "Valor" %>
<% end %> -->