<h1>Detalhes do carro</h1> 
 <h3>Marca: <%= @carro.marca %></h1>
 <h3>Modelo: <%= @carro.modelo %></h1>
 <h3>Ano: <%= @carro.ano %></h1>
 <h3>Descriçao: <%= @carro.descricao %></h1>
 <h3>Valor: <%= @carro.valor %></h1>